# --- Python Bytecode e Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambiente Virtual ---
# Nomes comuns para pastas de venv
venv/
env/
.venv/
.env

# --- Dados Locais e Backups ---
# Ignorar a pasta de backups para não enviar dados sensíveis/teste para o GitHub
backups/
*.json
*.csv
*.log
*.sqlite
*.db

# --- Configurações de IDE ---
.vscode/
.idea/